@font-face {
    font-family: 'gora_freeregular';
    src: url('gora-free-webfont.woff2') format('woff2'), url('gora-free-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'open_sansextrabold';
    src: url('opensans-extrabold-webfont.woff2') format('woff2'), url('opensans-extrabold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'open_sansbold';
    src: url('opensans-bold-webfont.woff2') format('woff2'), url('opensans-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'open_sansregular';
    src: url('opensans-regular-webfont.woff2') format('woff2'), url('opensans-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'open_sansregular', Helvetica, sans-serif;
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.container {
    width: 1100px;
    margin: 0 auto;
}
.header.container{
    position: relative;
    min-height: 76px;
}

header {
    height: 76px;
    background-color: #131415;
    position: relative;
    margin-bottom: 80px;
}

.logo__link {
    color: #f89513;
    font-family: 'gora_freeregular', serif;
    text-decoration: none;
    position: absolute;
    margin-top: 30px;
    margin-left: 19px;
}

.menu {
    color: #ffffff;
    text-decoration: none;
    display: inline-block;
}

.header__menu {
    list-style-type: none;
    display: inline-block;

}

.menu__item {
    display: inline-block;
}

.menu__icon {
    float: left;
    display: inline-block;
}

.menu__text {
    color: #ffff;
    font-family: 'open_sansregular', Helvetica, sans-serif;
    text-decoration: none;
    display: inline-block;
}

.contacts {
    position: absolute;
    right: 0;
    top: 10px;
    text-align: right;
}

.contacts__phone {
    color: #ffffff;
    text-decoration: none;
    font-size: 21px;
    font-weight: bold;
}

.contacts__desc {
    color: #b46f14;
    font-size: 14px;
}

.maincontent {}

.image__container {
    height: 624px;
    background: #ffffff;
}

.image {
    position: absolute;
}

.features {
    min-width: 1100px;
    background: #131415;
    height: 570px;
    color: #ffffff;
}

.features__name {
    color: #ffffff;
    font-family: 'open_sansregular', helvetica, sans-serif;
    text-align: center;
}

.features__main {
    display: inline-block;
    padding: 20px;
    vertical-align: middle
}

.features__item {
    list-style: none
}

.features__title {
    color: #ffffff;
    font-family: 'open_sansregular', helvetica, sans-serif;
    font-weight: bold;
    text-align: center;
}

.features__p {
    color: #ffffff;
    text-align: center;
    font-size: 14px;
}

.features__list {
    color: #ffffff;
}

.news {
    height: 955px;
    background: #ffffff
}

.news__title {
    color: #131415;
    height: 29px;
    font-family: 'OpenSans bold' serif;
    text-align: center;
}

.news__list-image1 {
    width: 160px;
    height: 160px;
    border-radius: 50%;
    overflow: hidden;
}

.news__list-image2 {
    width: 160px;
    height: 160px;
    border-radius: 50%;
    overflow: hidden;
}

.news__list-image3 {
    width: 160px;
    height: 160px;
    border-radius: 50%;
    overflow: hidden;
}

.news__text-paragraph1 {
    font-size: 14px;
    font-family: "Roboto";
    color: rgb(101, 100, 100);
    line-height: 1.5;
    text-align: left;
    position: absolute;
    left: 199.608px;
    top: 1472.25px;
    width: 694px;
    height: 136px;
    z-index: 43;
}

.news__text-paragraph2 {
    font-size: 14px;
    font-family: "Roboto";
    color: rgb(101, 100, 100);
    line-height: 1.5;
    text-align: left;
    position: absolute;
    left: 199.898px;
    top: 1694.25px;
    width: 603px;
    height: 166px;
    z-index: 47;
}

.news__text-paragraph3 {
    font-size: 14px;
    font-family: "Roboto";
    color: rgb(101, 100, 100);
    line-height: 1.5;
    text-align: left;
    position: absolute;
    left: 199.844px;
    top: 1915.25px;
    width: 610px;
    height: 166px;
    z-index: 51;
}

.news__list {
    list-style: none;
}

.footer {
    height: 75px;
    background: #131415;
    color: #ffffff;
}

address {
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}

[href="https://loftschool.com/"] {
    color: #ffffff;
    font-style: bold;
}

.networks__list {
    display: inline;
}