.header {
    height: 68px;
    background-color: #131415;
}

.logo {
    color: #f89513;
    font: 'gora free regular', ;
}

.menu {}

.header__menu {
    list-style-type: none;
}

.menu__item {}

.menu__icon {
    float: left;
}

.menu__text {
    color: #ffffff;
    font-family: 'opensans-boled', sans-serif;
}

.contacts {
    position: relative;
}

.contacts-phone {
    color: #ffffff;
    text-decoration: none;
}

.contacts__desc {
    color: #b46f14;
}
.maincontent{

}
.image {
    height: 614px;
    background: #ffffff;
    
}